*{
    padding: 0;
    margin: 0;
}

header{
    background-image:url(images/banner-bk.jpg);
    margin: 0rem;
    height: 25rem;
    opacity: 90%;
    color: white;
    display: flex;
    justify-content:space-evenly;
    
}

.texto{
    width: 40rem;
    margin-top: 2rem;
}

.ear{
    margin-top: 2rem;   
}

.logo{
    height: 2rem;
   
}

button{
    margin-top: 2rem;
    background-color: #10f88c;
    border-radius: 50px;
    height: 10%;
}



h2{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.primer{
    padding: 4rem;
    display: flex;
    justify-content:center;
}

.primeraimg{
    margin: 4rem;
    height: 60%;
}

.segundaimg{
    margin: 4rem;
    height: 60%;
}

.terceraimg{
    margin: 4rem;
    height: 60%;
}

p{
    justify-content: center;
    display: flex;
}


.segundo{
    background:linear-gradient(346deg, #10f88c 56%, transparent 0%);
    width: 100%;
    height: 30rem;
}

h4{
    margin-top: 2rem;
}

