/*header*/

*{
    padding: 0;
    margin: 0;
}

header{
    background-image:url(images/banner-bk.jpg);
    margin: 0rem;
    height: 25rem;
    opacity: 90%;
    color: white;
    display: flex;
    justify-content:space-evenly;
}

.text_header{
    width: 40rem;
    margin-top: 2rem;
}

.logo_web{
    height: 3rem;
   
}

.header_h1 {
    margin-top: 2rem;
}

.header_p{
    margin-top: 2rem;
}

.text_Ear{
    margin-top: 2rem;   
}

button{
    margin-top: 2rem;
    background-color: #10f88c;
    border-radius: 50px;
    height: 12%;
}



/*main*/

.h1_Smartest{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.Container_protect{
    padding: 4rem;
    display: flex;
    justify-content:center;
}

.h1_protect{
    display: flex;
    justify-content: center;
}


.img_protect1{
    margin: 4rem;
    height: 60%;
}

.img_protect2{
    margin: 4rem;
    height: 60%;
}

.img_protect3{
    margin: 4rem;
    height: 60%;
}

.text_protect{
    justify-content: center;
    display: flex;
}

/*contenedor imagenes computador*/

.Container_img_computer{
    background: linear-gradient(353deg, #10f88c 78%, transparent 38%);
    width: 100%;
    height: 54rem;
    margin-top: 6rem;
}

.text_Take{
    width: 70%;
    margin: 8rem;
}

.text_h5{
    margin-top: 2rem;  
}

.button_2{
    margin-top: 2rem;
    background-color: #252850;
    color: white;
    border-radius: 50px;
    height: 2rem;
    width: 7rem;
}

.img_computer{
    display: flex;
    justify-content: end;
    margin: -12rem;
}

/*segunda parte de la imagen del computador*/

.text_Safe{
    margin-top: 22rem;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 80%;
}

.img{
    width: 25%;
    height: 25%;
}

.text{
    margin-right: 10px;
}

.img2{
    width: 35%;
    height: 30%;
    margin: 4rem;
}

/*Contenedores*/

.text_check{
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}

.container_offer{
    display:flex ;
    text-align: center;
}

.container1{
    width: 40%;
    height:25rem;
    margin: 2rem;
}

.container1_h3{
    margin-top: 1rem;
}

.container1_h5{
    margin-top: 1rem;
}

.num_grande1{
    font-size: 6rem;
    
}

.button_container1{
    background-color: white;
    color:  #252850;
    border-radius: 50px;
    height: 2rem;
    width: 7rem;
    border-color: #252850;
    margin-top: 3rem;
}

/*contenedor 2*/

.container2{
    background-color:#252850;
    width: 25%;
    height: 25rem;
    margin: 2rem;
    border-radius: 10px;
}

.container2_h3{
    color: white;
    margin-top: 1rem;
}

.container2_h5{
    color: white;
    margin-top: 1rem;
}

.num_grande2{
    font-size: 6rem;
    color: white;
}

.button_container2{
    background-color: #10f88c;
    color:  #252850;
    border-radius: 50px;
    height: 2rem;
    width: 7rem;
    margin-top: 3rem;
}

/*contenedor 3*/

.container3{
    width: 40%;
    height:25rem;
    margin: 2rem;
}

.container3_h3{
    
    margin-top: 1rem;
}

.container3_h5{
    margin-top: 1rem;
}

.num_grande3{
    font-size: 6rem;
    
}

.button_container3{
    background-color: white;
    color:  #252850;
    border-radius: 50px;
    height: 2rem;
    width: 7rem;
    border-color: #252850;
    margin-top: 3rem;
}

/*contenedor Client*/

.container_client{
    background-color: #eeebeb;
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: space-around ;
    margin-top: 4rem;
}

.client_img{
    height: 60%;
    margin-top: 2rem;
}

/*contacto*/

.container_contact{
    background-image: url(images/contact-bk.jpg);
    height: 40rem;
    color: white;
    display: flex;
}

.container_text_contact{
    margin: 8%;
    height: 50%;
}

.contact_h1{
    display: flex;
    text-align: start;
}

.text_contact{
    display: flex;
    text-align: start;
    margin-top: 1rem;
}

/*Formulario*/

.form{
    margin-left: 24%;
    margin-top: 7%;
}

input{
    border: 2px solid  #51eca8;
    background-color: transparent;
    border-radius: 6px;
    padding: 0.2rem; 
    color: #fff;
    margin-right: 2rem;
}

.email{
    position: relative;
    right: -10rem;
}

label{
    color:  #51eca8;
}

textarea{
    width: 25rem;
    height: 4rem;
    background-color: transparent;
    border: 2px solid #51eca8;
    border-radius: 14px;
}
.button_form{
    margin-top: 1rem;
    width: 95%;
    background-color: #51eca8;
    color: #252850;
    border: none;
    border-radius: 50px;
    height: 2rem;
}

/*Footer*/

footer{
    display: flex;
    width: 100%;
    height: 6rem;
    background-color: #252850;
    align-items: center;
    justify-content: space-around;
}

.text_footer{
    margin-right: 14rem;
    color: white;
}

.icons{
    display: flex;
}

box-icon{
    background-color: white;
    border-radius: 50px;
    width: 50%;
    height: 50%;
    margin: 0.5rem;
}